<h2>サインイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>メールアドレス<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>パスワード<br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> ログイン情報を記憶する</div>
  <% end -%>

  <div><%= f.submit "サインインする" %></div>
<% end %>

<%= render "users/shared/links" %>
